.sidebar{margin-left: 20px; padding-top: 240px;width:250px;position:absolute;height:100%;overflow: auto;}
.sidebar a {
    display: block;
    color: rgb(53,4,75);
    padding: 10px;
    text-decoration: rgb(53,4,75);
    font-size: 28px;
    font-weight: bold;
  }
   
  .sidebar a:hover:not(.active){
    background-color: #04AA6D;
    color: white;
  }

